# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
migrate

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dotenv environment variables file
!app.env
.env*

# Dependency directories (remove the comment below to include it)
migrations
vendor
wait-for-*

# Text editors
.vscode

# Logs and debugs
*__debug
*.log
*.debug
